[core]
    editor = 'atom' --wait
[user]
    name = matteoavellina
    email = avellina@igenius.net
[rebase]
    autosquash = true
[remote "origin"]
  fetch = +refs/heads/*:refs/remotes/origin/*
  fetch = +refs/tags/*:refs/tags/*
