packages: [
  "atom-html-preview"
  "atom-inline-blame"
  "autocomplete-haskell"
  "busy-signal"
  "color-picker"
  "file-icons"
  "haskell-ghc-mod"
  "ide-haskell"
  "ide-haskell-cabal"
  "ide-haskell-hasktags"
  "ide-haskell-hoogle"
  "ide-haskell-profiteurjs"
  "ide-haskell-repl"
  "intentions"
  "language-babel"
  "language-docker"
  "language-haskell"
  "language-haskell-scoped"
  "language-ini"
  "language-ledger"
  "language-nginx"
  "language-purescript"
  "language-rego"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-flake8"
  "linter-ui-default"
  "markdown-pdf"
  "open-in-browsers"
  "package-sync"
  "platformio-ide-terminal"
  "project-manager"
  "set-syntax"
]
