packages: [
  "atom-inline-blame"
  "busy-signal"
  "file-icons"
  "intentions"
  "language-docker"
  "language-ledger"
  "language-nginx"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-flake8"
  "linter-ui-default"
  "markdown-pdf"
  "package-sync"
  "platformio-ide-terminal"
  "project-manager"
  "set-syntax"
]
